<div class="container">
  <%= link_to "HOME", flats_path %>
  <h1><%= @flat.name %></h1>

  <h6>Adress: <%= @flat.address %></h6>
  <h6>Phone: <%= @flat.description %></h6>
  <h6>Category: <%= @flat.price_per_night %></h6>
</div>
